@media (max-width: 1200px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
	  width: 1024px;
	}
	.span12 {
	  width: 1024px;
	}
	.compose{
		margin:-42px -5px 0 0;	
	}	
	.navigation_wrapper a.navButton {
		margin:0;
	}
	.fwlName{
		width:90px;	
		margin:0 0 0 4px;
	}
	.btnFollow{
		margin:0;	
	}
	.follower img{
		margin:4px 0 0 0;	
	}
}